* {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
main {
  width: 40%;
  margin: 5% auto 0 auto;
  font-family: arial;
  background-color: lightblue;
}
.pic-box {
  display: inline-block;
  margin: 15px 15px 0 15px;
}
.pic-caption {
  position: relative;
  top: -25px;
  text-align: center;
}
